@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');

html, body {
    margin: auto;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
    color: #0b2a37;
    font-size: 16px;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 1000;
    margin: auto;


}

header img {
    vertical-align: middle;
}

button {
    border-radius: 5px;
    text-transform: uppercase;
}
.container {
    margin: auto;
    max-width: 1440px;
}
.background-position{
    position: absolute;
    width: 100%;
    overflow: hidden;
}
.relative-position{
    position: relative;
}
.fit-content{
    height: fit-content;
}
.w-100{
    width: 100%;
}
.question-icon {
    position: absolute;
    left: 10px;
}

.question-button {
    margin: inherit;
}


.nav-link {
    margin: 20px 0px 0px 30px;
}

.nav-link button {
    border: 2px solid #ffffff;
    height: 40px;
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
    font-weight: 700;

}


.nav-link-right li {
    color: #ffffff;
    margin-right: 35px;
}

.hamburger-menu {
    margin-right: 5px;
}

.nav-link-left {
    float: left;
}

.nav-link-right {
    float: right;
}

.nav-link li {
    display: inline-block;
}

.button-help {
    margin: 0px 10px 0px 25px;
    width: 160px;
}

.button-call-us {
    width: 100px;
}
.text-on-banner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-on-banner h1 {
    margin: 0;
    font-size: 80px;
    color: #8ae2e2;
    word-spacing: 25px;
}

.text-on-banner h2 {
    margin: 5px 0px 0px 0px;
    font-size: 58px;
    color: #ffffff;
}

.top-banner {
    height: 850px;
    overflow: hidden;
}

.text-on-banner p {
    font-weight: 400;
    font-size: 26px;
    color: white;
    width: 785px;
    text-align: center;
    margin: 45px 0px 45px 0px;
}

p b {
    color: #8ae2e2;
}

.text-on-banner button {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    background-color: #ff5151;
    border: none;
    height: 70px;
    width: 274px;
}


.footer-banner {
    position: absolute;
    bottom: 0;
    display: flex;
    height: 80px;
    background-color: #eff7f7;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.footer-banner p {
    font-weight: 500;
}

.footer-banner a {
    font-weight: 700;
    color: #8ae2e2;
}

.background-baner {
    overflow: hidden;
    -webkit-filter: opacity(50%);
    -moz-filter: opacity(50%);
}

.bg-banner {
    background: rgb(23, 49, 83);
    height: 830px;
}


.search-top-title {
    font-size: 36px;
    text-align: center;
    margin: 50px 0px 70px 0px;
}


.search-top-content {
    display: inline-grid;
    text-align: center;
    grid-auto-flow: column;
    grid-gap: 85px;
    margin: 0px 45px 130px 45px;
}

.search-top-content article {
    display: grid !important;
    grid-template-rows: 150px 50px 70px;
    justify-items: center;
}

.search-top-article h6 {
    font-weight: 700;
    font-size: 22px;
    margin: 0px;
}

.search-top-article p {
    grid-row: 3;
}

.how-it-was {
    background-color: #66cfcf;
    color: #ffffff;

}

.how-it-was article {
    display: flex;
    padding: 160px 45px 60px 60px;
}

.steps-title {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 900;
    font-size: 80px;
    width: 45%;
    margin-right: 25px;
}

.steps-title h1 {
    margin: 45px 0px 40px 0px;
}

.steps-title button {
    border: 2px solid white;
    background: none;
    height: 70px;
    width: 270px;
    font-size: 18px;
    color: #ffffff;
    margin: 0px 5px;
    font-weight: 700;
}

.mobile-count-steps {
    display: none;
}

.image-how-it-was {
    height: 570px;
    overflow: hidden;
    margin: 0px;

}

.image-how-it-was img {
    top: -120px;
}

.steps {
    display: flex;
    flex-direction: column;
    width: 550px;
}

.step-two, .step-four {
    right: 0px;
    place-self: flex-end;
    text-align: end;
}

.steps section {
    margin-bottom: 50px;
}

.steps b {
    font-size: 22px;
    font-weight: 700;
}

.steps p {
    font-weight: 500;
}

.step-two {
    margin-bottom: 25px !important;
}

.step-one section, .step-three section {
    display: block;
    width: 50%;
    float: left;
    margin: 10px 0px 0px 10px;
}
.icon-left {
    float: left;
}

.icon-right {
    float: right;

}

.step-one, .step-three {
    margin-left: 115px;
}

.step-two section, .step-four section {
    width: 45%;
    float: right;
    margin: 10px 15px 0px 0px;
}

.right-line {
    position: absolute !important;
    right: -125px;
    margin-top: 20px;
}

.left-line {
    position: absolute !important;
    left: 0;
    margin-top: 20px;
}

.doctor-hand {
    position: relative;
    height: 540px;
    overflow: hidden;
}

.doctor-hand img {
    top: -210px;
}

.recall-title {
    font-weight: 900;
    font-size: 36px;
    color: #0b2a37;
    text-align: center;
    margin: 100px 0px 120px 0px;

}
.recall .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px 35px 90px 35px;
    grid-gap: 65px;

}

.recall .col-1, .col-2, .col-3 {
    width: 410px;
    color: #0b2a37;
}

.chat-text {
    position: absolute;
    top: 0;
    margin: 40px 20px;
}

.chat-person {
    display: flex;
    float: right;
    text-align: end;
    margin-bottom: 20px;
}


.chat-person p {
    margin: 0;
}

.chat-person section {
    margin: auto 10px;
}

.image-preferences {
    position: relative;
    height: 540px;
    overflow: hidden;

}

.preferences-background {
    top: -125px;
}

.preferences {
    position: relative;
    background: #005173;
    color: #ffffff;
    overflow: hidden;

}

.preferences-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 170px;
    margin-bottom: 125px;
}

.preferences-title {
    font-weight: 900;
    font-size: 80px;
    margin: 0px 0px 55px 0px;
}

.preferences-list {
    display: flex;
    list-style-type: none;
    width: 480px;
    flex-direction: column;
    margin-left: 100px;
}

.peferences-icon {
    position: absolute;
    bottom: -115px;
    right: -115px;
    overflow: hidden;
}

.preferences-list li {
    margin-bottom: 10px;
}

.preferences-right {
    display: flex;
    order: 2;
    margin-left: 80px;
    flex-direction: column;
    justify-content: center;
}

.preferences-right button {
    width: 275px;
    height: 70px;
    font-size: 18px;
    font-weight: 700;
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
}

.preferences-left {
    order: 1;
}

.preferences-left hr {
    position: absolute;
    width: 50px;
    height: 2px;
    float: left;
    border: none;
    background-color: #8ae2e2;

}

.phone {
    display: block;
    text-align: center;
}

.footer-bottom {
    background-color: #0b2a37;
    color: #ffffff;
}

.phone-title {
    margin: 55px 0px 0px;
    font-weight: 900;
    font-size: 36px;
}

.phone-subtitle {
    margin: 0px 0px 35px 0px;
    font-size: 18px;
    font-weight: 500;
}

.phone button {
    width: 210px;
    height: 40px;
    background-color: #ff6262;
    font-weight: 900;
    color: #ffffff;
    border: none;
    margin-bottom: 40px;
}

.footer-content {
    display: grid;
    padding-bottom: 85px;
    grid-template-columns: repeat(2, 1fr);
}

.link-info {
    display: inline-grid;
    margin: 85px 0px 0px 40px;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
}

.link-info ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link-info b {
    font-size: 22px;
    margin-bottom: 30px;
}

.link-info ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link-info li {
    opacity: 0.8;
}

.footer-follow b {
    font-size: 22px;
}

.footer-follow {
    display: flex;
    margin: 85px 0px 0px 100px;
    flex-direction: column;
}

.footer-follow img {
    width: fit-content;

}

.footer-logo {
    margin-bottom: 30px;
}

.footer-follow p {
    font-size: 14px;
    opacity: 0.5;
}

.social-app {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
}

.steps-title h1 {
    text-align: left;
}

.preferences-content {
    margin: 50px 0px;
}

@media (min-width: 1200px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
    .search-top-content {
        display: grid;
        grid-template-columns: repeat(2, 270px);
        text-align: center;
        justify-content: center;
        grid-auto-flow: row;
        grid-gap: 85px;
        margin: 0px 45px 130px 45px;
    }

    .how-it-was article {
        display: block;
        padding: 160px 45px 60px 60px;
    }

    .image-how-it-was img {
        top: -55px;
    }

    .steps-title {
        display: block;
        text-align: center;
        text-align: center;
        margin-bottom: 50px;
    }

    .preferences-content {
        margin: 50px 0px;
    }

    .preferences-list {
        display: flex;
        list-style-type: none;
        width: 365px;
        margin-left: 0;
        flex-direction: column;
    }

    .chat-text {
        position: absolute;
        top: 0;
        width: 275px;
        margin: 4px 25px;
        right: 0;
    }

    .recall .row {
        margin: 0px 35px 90px 35px;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-on-banner {
        width: 760px;
        text-align: center;
        margin: auto;
        padding: 300px 0px 0px 0px;
    }

    .chat-text {
        width: 300px;
    }

    .row .col-1, .col-2, .col-3 {
        width: 350px;

    }

    .row img {
        width: fit-content;
        float: right;

    }

    .recall .col-1, .col-2, .col-3 {
        position: relative;
        width: 100%;
        color: #0b2a37;
    }

    .chat-text {
        top: 0;
        margin: 10px 13px;
    }

    .chat-text {
        position: absolute;
        top: 0;
        right: 0;
        width: 275px;
        margin: 4px 25px;
    }

    .search-top-content {
        display: grid;
        grid-template-columns: repeat(2, 270px);
        text-align: center;
        justify-content: center;
        grid-auto-flow: row;
        grid-gap: 85px;
        margin: 0px 45px 130px 45px;
    }

    .recall .row {
        margin: 0px 35px 90px 35px;
        grid-template-columns: repeat(2, 1fr);

    }

    .image-how-it-was, .doctor-hand {
        height: 460px;
    }

    .how-it-was article {
        display: block;
        padding: 160px 45px 60px 60px;
    }

    .image-how-it-was img {
        top: -55px;
    }

    .steps-title {
        display: block;
        text-align: center;
        margin-bottom: 55px;
        text-align: center;
    }


    .steps-title h1 {
        text-align: left;
    }

    .doctor-hand img {
        top: -135px;
    }

    .preferences-content {
        margin: 50px 0px;
    }


    .preferences-list {
        display: flex;
        width: 365px;
        list-style-type: none;
        margin-left: 0;
        flex-direction: column;
    }

}
@media (max-width: 767px) {
    .line-left, .left-line, .right-line, .doctor-hand, .image-preferences {
        display: none
    }

    .nav-link-left, .nav-link-right {
        display: inline-block;
    }

    .nav-link {
        display: flex;
        overflow: auto;
        white-space: nowrap;
    }

    .image-how-it-was {
        display: none
    }

    .background-baner {
        display: block;
        height: 100%;
        width: auto;
        transform: translate(-50%, 0%);
    }

    .bg-banner {
        object-fit: cover;
    }

    .text-on-banner {
        text-align: center;
        margin: auto;
    }

    .text-on-banner h1 {
        margin: 0;
        font-size: 48px;
        color: #8ae2e2;
        word-spacing: 25px;
    }

    .text-on-banner h2 {
        margin: 5px 0px 0px 0px;
        font-size: 36px;
        color: #ffffff;
    }

    .text-on-banner p {
        font-weight: 400;
        font-size: 16px;
        color: white;
    }

    .step-one, .step-three {
        margin-left: 0px;
    }

    .recall .col-1, .col-2, .col-3 {
        position: relative;
        width: 100%;
        color: #0b2a37;
    }

    .chat-text {
        top: 0;
        margin: 10px 13px;
    }

    .search-top-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: row;
        grid-gap: 85px;
    }

    .search-top-content article {
        grid-template-rows: auto;
    }

    .recall-title {
        margin: 55px 0px;
    }

    .recall .row {
        margin: 0px 35px 90px 35px;
        grid-template-columns: 1fr;
    }

    .image-how-it-was, .doctor-hand {
        height: 460px;
    }

    .how-it-was article {
        display: block;
        padding: 50px 40px 60px 0px;
    }

    .steps-title h1 {
        font-size: 64px;
        text-align: center;
    }

    .preferences-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .preferences-right {
        display: flex;
        order: 2;
        margin: 0px 0px 60px 0px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .preferences-left {
        margin: auto;
    }

    .image-how-it-was img {
        top: -55px;
    }

    .steps-title {
        display: block;
        width: 100%;
        text-align: center;
        text-align: center;
        margin-bottom: 50px;
    }

    .link-info {
        display: block;
        margin: 35px 10px 0px 10px;

    }

    .link-info b {
        font-size: 22px;
        margin-bottom: 0px;
    }

    .link-info ul {
        margin-bottom: 25px;
    }

    .footer-follow {
        margin: 29px 0px 0px 20px;
    }

    .preferences-list {
        display: flex;
        width: 365px;
        list-style-type: none;
        margin-left: 0;
        padding-left: 10px;

        flex-direction: column;
    }

    .line-left, .left-line, .right-line {
        display: none
    }
}
@media (max-width: 480px) {
    .nav-link-left, .nav-link-right {
        display: inline-block;
    }

    .nav-link {
        display: flex;
        overflow: auto;
        white-space: nowrap;
    }

    .background-baner {
        display: block;
        height: 100%;
        transform: translate(-49%, 0%);
    }

    .bg-banner {
        object-fit: cover;
        position: absolute;
        overflow: hidden;
    }

    .top-banner {
        text-align: center;
    }

    .search-top-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        grid-auto-flow: row;
        grid-gap: 85px;
        margin: 0px 45px 130px 45px;
    }

    .chat-icon {
        width: 100%;
    }

    .line-left, .left-line, .right-line, .doctor-hand, .image-preferences {
        display: none
    }

    .recall .row {
        grid-gap: 0px;
    }

    .how-it-was article {
        display: block;
        flex-direction: column;
        padding: 45px 0px;

    }

    .step-one, .step-three {
        margin-left: 0px;
        display: flex;
    }

    .step-two section, .step-four section {
        width: 50%;
    }

    .steps {
        display: flex;
        width: 100%;
        flex-direction: column;

    }

    .steps section {
        margin-bottom: 0px;
    }

    .steps-title h1 {
        font-size: 45px;
    }

    .mobile-count-steps {
        display: contents;
        font-weight: 900;
        font-size: 48px;
    }

    .icon-right, .icon-left {
        display: none;
    }


    .preferences-list {
        display: flex;
        list-style-type: none;
        flex-direction: column;
        margin: 45px 0px;
    }

    .preferences-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .peferences-icon {
        position: absolute;
        bottom: -45px;
        right: -70px;
        width: 100%;
        overflow: hidden;

    }

    .preferences-right {
        display: flex;
        order: 2;
        margin-left: 0px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }


    .footer-content {
        display: flex;
        padding-bottom: 85px;
        flex-direction: column-reverse;
    }

    .recall-title {
        margin: 55px 0px;
    }

    .steps-title {
        font-family: 'Maven Pro', sans-serif;
        font-weight: 700;
        font-size: 48px;
        margin-bottom: 50px;
    }

    .link-info {
        display: block;
        margin: 35px 10px 0px 10px;

    }

    .link-info b {
        font-size: 22px;
        margin-bottom: 0px;
    }

    .link-info ul {
        margin-bottom: 25px;
    }

    .footer-follow {
        margin: auto;
    }
}


