@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');

html, body {
    margin: auto;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
}

header {
    position: absolute;
    margin:auto;
    height: 100px;
    left: 0;
    right: 0;
    z-index: 1000;
}
header img{
    vertical-align: middle;
}
button{
    border-radius: 5px;
    text-transform: uppercase;
}
.container {
    margin: auto;
    max-width: 1440px;
}

.nav-link{
    margin-top: 20px;
}

.nav-link button{
    border: 2px solid #ffffff;
    height: 40px;
    background: rgba(0,0,0,0);
    font-size:16px;
    color:#ffffff
}
.nav-link-right li{
    font-size: 16px;
    color:#ffffff;
    margin-right: 35px;
}
.nav-link-left{
    float: left;
}

.nav-link-right{
    float: right;
}

.nav-link li {
    display: inline-block;
}
.button-help{
    margin: 0px 10px 0px 25px;
    width: 160px;
}
.button-call-us{
    width: 100px;
}
main .top-banner {
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}


.text-on-banner {
    width: 760px;
    text-align: center;
    margin: auto;
    padding: 300px 0px 0px 90px;
}

.text-on-banner h1 {
    margin: 0;
    font-size: 80px;
    color: #8ae2e2;
    word-spacing: 25px;
}

.text-on-banner h2 {
    margin: 5px 0px 0px 0px;
    font-size: 58px;
    color: #ffffff;
}

.text-on-banner p {
    font-weight: 400;
    font-size: 26px;
    color: white;
    white-space: nowrap;
    margin: 45px 0px 45px 0px;
}

p b {
    color: #8ae2e2;
}

.text-on-banner button {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    background-color: #ff5151;
    border: none;
    height: 70px;
    width: 274px;
}


.footer-banner {
    height:80px;
    background-color: #eff7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 18px;
}
.footer-banner p{
   font-weight: 500;
}
.footer-banner a{
    font-weight: 700;
    color:#8ae2e2;
}


.top-banner {
    height: 950px;
    background-color: rgba(23, 49, 83, 0.4);
    background-blend-mode: darken;
    background-image: url("./image/top-banner.jpg") !important;
    background-size: cover;
    position: relative;
}
.search-top {
    color: #0b2a37;
}
.search-top-title{
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 50px 0px 70px 0px;
}
.search-top-content p{
    font-size: 16px;
}
.search-top-content{
    display: flex;
    text-align: center;
    justify-content: center;
}
.search-top-article{
    width: 20%;
    margin:  0px 30px ;
}
.search-top-article img{
    margin: 10px 0px 45px 0px;
}
.search-top-article h6{

    font-weight: 700;
    font-size: 22px;
    margin: 0px;
}


@media (min-width: 1200px) {


}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 480px) {

}
