@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');

html, body {
    margin: auto;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
    color: #0b2a37;
    font-size: 16px;
}

header {
    position: absolute;
    margin: auto;
    height: 100px;
    left: 0;
    right: 0;
    z-index: 1000;
}

header img {
    vertical-align: middle;
}

button {
    border-radius: 5px;
    text-transform: uppercase;
}

.question-icon {
    position: absolute;
    left: 10px;
}

.question-button {
    margin: inherit;
}

.container {
    margin: auto;
    max-width: 1440px;
}

.nav-link {
    margin-top: 20px;
}

.nav-link button {
    border: 2px solid #ffffff;
    height: 40px;
    background: rgba(0, 0, 0, 0);
    color: #ffffff;
    font-weight: 700;

}

.button-help {
    position: relative;

}

.nav-link-right li {
    font-size: 16px;
    color: #ffffff;
    margin-right: 35px;
}

.hamburger-menu {
    margin-right: 5px;
}

.nav-link-left {
    float: left;
}

.nav-link-right {
    float: right;
}

.nav-link li {
    display: inline-block;
}

.button-help {
    margin: 0px 10px 0px 25px;
    width: 160px;
}

.button-call-us {
    width: 100px;
}

main .top-banner {
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}


.text-on-banner {
    width: 760px;
    text-align: center;
    margin: auto;
    padding: 300px 0px 0px 90px;
}

.text-on-banner h1 {
    margin: 0;
    font-size: 80px;
    color: #8ae2e2;
    word-spacing: 25px;
}

.text-on-banner h2 {
    margin: 5px 0px 0px 0px;
    font-size: 58px;
    color: #ffffff;
}

.text-on-banner p {
    font-weight: 400;
    font-size: 26px;
    color: white;
    white-space: nowrap;
    margin: 45px 0px 45px 0px;
}

p b {
    color: #8ae2e2;
}

.text-on-banner button {
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    background-color: #ff5151;
    border: none;
    height: 70px;
    width: 274px;
}


.footer-banner {
    height: 80px;
    background-color: #eff7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 18px;
}

.footer-banner p {
    font-weight: 500;
}

.footer-banner a {
    font-weight: 700;
    color: #8ae2e2;
}


.top-banner {
    height: 850px;
    background-color: rgba(23, 49, 83, 0.4);
    background-blend-mode: darken;
    background-image: url("images/recalls/top-banner.jpg") !important;
    background-size: cover;
    position: relative;
}

.search-top {
    color: #0b2a37;
}

.search-top-title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 50px 0px 70px 0px;
}

.search-top-content p {

    font-size: 16px;
}

.search-top-content {

    display: inline-grid;
    text-align: center;
    justify-content: center;
    grid-auto-flow: column;
    grid-gap: 85px;
    margin: 0px 45px 130px 45px;
    grid-template-columns: repeat(4, 270px);
}

.search-top-content article {
    display: grid !important;
    grid-template-rows: 150px 50px 70px;
    justify-items: center;
}

.search-top-article h6 {
    font-weight: 700;
    font-size: 22px;
    margin: 0px;
}

.search-top-article p {
    grid-row: 3;
}

.how-it-was {
    background-color: #66cfcf;
    color: #ffffff;

}

.how-it-was article {
    display: flex;
    padding: 160px 45px 60px 60px;
}

.steps-title {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 900;
    font-size: 80px;
    width: 45%;
    margin-right: 25px;
}

.steps-title h1 {
    margin: 45px 0px 40px 0px;
}

.steps-title button {
    border: 2px solid white;
    background: none;
    height: 70px;
    width: 270px;
    font-size: 18px;
    color: #ffffff;
    margin: 0px 5px;
    font-weight: 700;
}

.image-how-it-was {
    height: 570px;
    overflow: hidden;
    margin: 0px;
    position: relative;
}

.image-how-it-was img {
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: -120px;
}

.steps {
    display: flex;
    flex-direction: column;
    width: 550px;
}

.step-two, .step-four {
    right: 0px;
    place-self: flex-end;
    text-align: end;
}

.steps section {
    position: relative;
    margin-bottom: 50px;
}

.steps b {
    font-size: 22px;
    font-weight: 700;
}

.steps p {
    font-size: 16px;
    font-weight: 500;

}

.step-two {
    margin-bottom: 25px !important;
}

.step-one section, .step-three section {
    width: 50%;
    display: block;
    margin: 10px 0px 0px 10px;
    float: left;
}

.steps img {
    position: relative;

}

.icon-left {
    float: left;
    height: fit-content;

}

.icon-right {

    float: right;
    height: fit-content;
}

.step-one, .step-three {
    margin-left: 115px;
}

.step-two section, .step-four section {
    margin: 10px 15px 0px 0px;
    width: 45%;
    float: right;
}

.right-line {
    margin-top: 20px;
    position: absolute !important;
    right: -125px;
}

.left-line {
    position: absolute !important;
    left: 0;
    margin-top: 20px;
}

.recall-title {
    font-weight: 900;
    font-size: 36px;
    color: #0b2a37;
    text-align: center;
    margin: 100px 0px 120px 0px;

}

.doctor-hand {
    overflow: hidden;
    position: relative;
    height: 540px;
}

.doctor-hand img {
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: -265px;
}

.recall .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 35px;
    grid-auto-flow: column;
}

.recall .col-1, .col-2, .col-3 {
    position: relative;
    width: 410px;
    color: #0b2a37;
}

.chat-text {
    position: absolute;
    top: 0;
    margin: 40px 20px;
}

.chat-person {
    float: right;
    text-align: end;
    display: flex;
    margin-bottom: 55px;
}

.chat-person img {
    height: fit-content;
}

.chat-person p {
    margin: 0;
}

.chat-person section {
    margin: auto 10px;
}

.image-preferences {
    overflow: hidden;
    position: relative;
    height: 540px;
}

.preferences-background {
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: -125px;
}

.preferences {
    background: #005173;
    color: #ffffff;
    position: relative;
    overflow: hidden;

}

.preferences-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 170px;
    margin-bottom: 125px;
}

.preferences-title {
    font-weight: 900;
    font-size: 80px;
    margin: 0px 0px 55px 0px;
}

.preferences-list {
    list-style-type: none;
    width: 480px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.peferences-icon {
    position: absolute;
    right: -115px;
    bottom: -115px;
    overflow: hidden;
}

.preferences-list li {
    margin-bottom: 10px;
}

.preferences-right {
    order: 2;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.preferences-right button {
    font-size: 18px;
    font-weight: 700;
    height: 70px;
    background: none;
    border: 2px solid #ffffff;
    width: 275px;
    color: #ffffff;
}

.preferences-left {
    order: 1;
}

.preferences-left hr {
    width: 50px;
    border: none;
    height: 2px;
    float: left;
    position: absolute;
    background-color: #8ae2e2;

}

.phone {
    display: block;
    text-align: center;
}

.phone button {
}

.footer-bottom {
    background-color: #0b2a37;
    color: #ffffff;
}

.phone-title {
    margin: 55px 0px 0px;
    font-weight: 900;
    font-size: 36px;
}

.phone-subtitle {
    margin: 0px 0px 35px 0px;
    font-size: 18px;
    font-weight: 500;
}

.phone button {
    width: 210px;
    height: 40px;
    background-color: #ff6262;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    border: none;
    margin-bottom: 40px;
}

.footer-content {
    display: grid;
    padding-bottom: 85px;
    grid-template-columns: repeat(2, 1fr);
}

.link-info {
    display: inline-grid;
    margin: 85px 0px 0px 40px;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
}

.link-info ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link-info b {
    font-size: 22px;
    margin-bottom: 30px;
}

.link-info ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link-info li {
    opacity: 0.8;
}

.footer-follow b {
    font-size: 22px;
}

.footer-follow {
    margin: 85px 0px 0px 100px;
    display: flex;
    flex-direction: column;
}

.footer-follow img {
    width: fit-content;

}

.footer-logo {
    margin-bottom: 30px;
}

.footer-follow p {
    font-size: 14px;
    opacity: 0.5;
}

.social-app {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
}

@media (min-width: 1200px) {


}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 480px) {

}
