.call-us-scroll {
  display: none;
  color: #ffffff;
  padding: 5px 15px;
  font-weight: 900;
  position: absolute;
  bottom: 100px;
  right: 0;
  margin-right: 20px;

  .visible {
    display: block !important;
  }
}


.top-banner {
  background-image: url("../images/top-banner/top-banner.jpg");
  background-size: cover;
  background-color: rgba(0, 81, 115, 0.4);
  background-blend-mode: multiply;
  background-position: 100% 15%;
}

.top-banner {
  height: 850px;
  overflow: hidden;

  .text-on-banner {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      font-weight: 400;
      font-size: 26px;
      color: white;
      width: 785px;
      margin: 45px 0px 45px 0px;
    }

    .banner-button {
      font-size: 18px;
      color: #ffffff;
      background-color: #ff5151;
      border: none;
      height: 70px;
      width: 274px;
    }

    .title-text-on-banner {
      font-size: 80px;
      color: #8ae2e2;
      word-spacing: 25px;
    }

    .subtitle-text-on-banner {
      margin: 5px 0px 0px 0px;
      font-size: 58px;
      color: #ffffff;
    }
  }

  .footer-banner {
    bottom: 0;
    display: flex;
    height: 80px;
    background-color: #eff7f7;
    align-items: center;
    font-size: 18px;
  }
}

@media (min-width: 992px) and (max-width: 1223px) {
  .background-banner {
    display: block;
    height: 100%;
    width: auto;
    transform: translate(-20%, 0%);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .background-banner {
    width: auto;
    display: block;
    height: 100%;
    transform: translate(-25%, 0%);
    background-position: 70%;
  }
  .top-banner {
    background-position: 70%;
  }

  .text-on-banner {
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 767px) {
  .background-banner {
    display: block;
    height: 100%;
    width: auto;
    transform: translate(-50%, 0%);

  }
  .top-banner {
    background-position: 70%;
  }

  .text-on-banner {
    text-align: center;
    margin: auto;

    p {
      width: 100% !important;
      font-weight: 400;
      color: white;
    }
  }

  .title-text-on-banner {
    margin: 0;
    font-size: 48px !important;
    color: #8ae2e2;
    word-spacing: 25px;
  }

  .subtitle-text-on-banner {
    margin: 5px 0px 0px 0px;
    font-size: 36px !important;
    color: #ffffff;
  }
}

@media (max-width: 480px) {
  .banner-back {
    background-position: 70%;
  }
  .top-banner {
    text-align: center;

    .dark-banner {
      object-fit: cover;
      position: absolute;
      overflow: hidden;

      .background-banner {
        display: block;
        height: 100%;
        transform: translate(-50%, 0%);
      }
    }
  }
}