.scroll {
  position: fixed;
  transition: 0.5s;
  background-color: white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  color: #196281;

  .nav-link-left {
    .second-logo {
      display: inline-block !important;
    }

    .first-logo, .call-us-button {
      display: none;
    }

    .call-us-button {
      display: none;
    }

    .call-us-scroll {
      display: block !important;
    }

    button {
      border: #196281 2px solid;
      color: #196281 !important;

    }
  }

  .nav-link-right {
    li, a {
      color: #196281 !important;
    }


    .nav-link-li div, div:after, div:before {
      background-color: #196281 !important;
    }
  }


}

.nav-link {
  padding-top: 20px;
  padding-left: 30px;

  .nav-link-left {
    .nav-link-button {
      height: 40px;
      background: rgba(0, 0, 0, 0);
      color: #ffffff;

      .question-button {
        margin: inherit;

        .question-icon {
          left: 10px;
        }
      }
    }

    .button-help {
      margin: 0px 10px 0px 25px;
      width: 160px;
    }

    .call-us-button {
      width: 100px;
    }

    .second-logo {
      display: none;
    }
  }

  .nav-link-right {
    .nav-link-li {
      color: #ffffff;
      margin-right: 35px;
      display: inline-block;

      .nav-link-a {
        text-decoration: none;
        color: #ffffff;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
      }

      .nav-link-a:hover {
        background-size: 100% 2px;
      }
    }

    .hamburger-menu-icon {
      margin-right: 10px;
    }
  }

  .nav-link-right li:nth-child(3) {
    display: inline-block;
    margin-left: 15px;
    position: relative;
  }

  .nav-link-li div {
    display: block;
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    left: 0;
    bottom: 45%;
    transform: translate(-125%);

    &:before {
      display: block;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      top: -8px;
      left: 0;
    }

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      top: 8px;
      left: 0;
    }
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-link-left, .nav-link-right {
    display: inline-block;
  }
  .nav-link-left button {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .nav-link-left, .nav-link-right {
    display: inline-block;
  }
  .nav-link-button, .sign-up, .sign-in {
    display: none !important;
  }
  .nav-link {
    display: flex;
    overflow: auto;
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .nav-link {
    display: flex;
    overflow: auto;
    white-space: nowrap;

    .nav-link-left {
      .nav-link-button, .call-us-button {
        display: none;
      }
    }

    .nav-link-li div {
      top: -275%;
      transform: translate(90%);
    }
  }
  .nav-link-left, .nav-link-right {
    display: inline-block;
  }
}
