.how-it-was {
  background-color: #66cfcf;
  color: #ffffff;

  .background-how-it-was {
    height: 570px;
    overflow: hidden;
    background: url("../images/background/help.jpg");
    background-size: cover;
    background-position: 50% 40%;
  }

  .steps-b {
    display: block;
  }


  .how-it-was-article {
    display: flex;
    padding: 105px 45px 60px 60px;

    .steps-title {
      font-family: 'Maven Pro', sans-serif;
      font-weight: 900;
      font-size: 80px;
      width: 45%;

      .steps-title-h1 {
        margin: 45px 0px 40px 0px;
      }

      .steps-title-button {
        height: 70px;
        width: 270px;
        font-size: 18px;
        color: #ffffff;
        margin: 0px 5px;
      }
    }

    .steps {
      width: fit-content;
      height: fit-content;
      margin: auto;
      display: flex;
      flex-direction: column;
      margin-left: 5%;

      .step-one, .step-three {
        display: flex;
        width: 100%;

        .icon-left {
          height: fit-content;
        }
      }

      .step-two {
        margin-bottom: 25px !important;
        right: 0px;
        place-self: flex-end;
        text-align: end;
      }

      .step-four {
        right: 0px;
        place-self: flex-end;
        text-align: end;
      }

      .step-content-left {
        align-self: center;
        margin-left: 115px;
      }

      .steps-b {
        font-size: 22px;
      }

      .step-right {
        margin: 10px 0px 0px 10px;
      }

      .step-left {
        display: block;
        width: 100%;
        margin: 10px 15px 0px 0px;
      }

      .right-line {
        width: 45%;
        position: absolute !important;
        left: 70%;
        margin-top: 45px;
      }

      .left-line {
        position: absolute !important;
        width: 50%;
        right: 85%;
        margin-top: 45px;
      }

      .float-left p {
        display: inline-block;
      }

      .icon-left, .icon-right {
        margin: 0px 5px;
      }
    }
  }
}

@media (min-width: 1224px) and (max-width: 1320px) {
  .how-it-was {
    .how-it-was-article {
      padding: 0px;
      flex-direction: row-reverse;

      .steps-title {
        width: 50%;
        padding: 50px 0px 50px 10px;
        text-align: center;
        font-size: 64px;
        margin: auto;
      }
    }

    .icon-right {
      margin-right: 125px;
    }

    .right-line {
      right: -20% !important;
    }
  }
}


@media (min-width: 992px) and (max-width: 1224px) {
  .how-it-was {
    .how-it-was-article {
      flex-direction: row-reverse;
      padding: 105px 0px 60px 0px;

      .steps-title {
        display: block;
        text-align: center;
        font-size: 64px;
        margin: auto;
        margin-bottom: 50px;
      }

      .steps {
        margin-left: 0 !important;
        margin-right: 215px;
      }

      .right-line, .left-line {
        display: none;
      }

      .float-left {
        text-align: justify;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .background-how-it-was {
    height: 270px;
    background-position: 50% 30%;
  }
  .steps-title-h1 {
    font-size: 64px;
  }
  .right-line, .left-line {
    display: none;
  }
  .how-it-was {
    .how-it-was-article {
      flex-direction: column;
      padding: 105px 0px 60px 0px;

      .steps-title {
        margin-left: 20px;
      }

      .step-content-left {
        margin-left: 0;
      }

      .steps {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
      }

      .float-left {
        text-align: justify;
      }
    }
  }
  .how-it-was-child {
    top: -55px;
  }
  .steps-title {
    display: block;
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .background-how-it-was {
    display: none;
  }
  .how-it-was-child {
    top: -55px;
  }

  .how-it-was {
    .how-it-was-article {
      display: block;
      padding: 105px 0px 60px 0px;

      .steps-title {
        display: block;
        width: 100% !important;
        text-align: center !important;
        margin-bottom: 50px;
      }
    }
  }
  .steps-title-h1 {
    font-size: 64px;
    text-align: center;
  }
  .step-left {
    margin-left: 15px;
  }
  .step-one, .step-three {
    width: auto !important;
  }
  .step-two, .step-four {
    margin-right: 25px;
  }
  .how-it-was .how-it-was-article .steps .step-content-left {
    align-self: start;
    margin-left: 20px;
  }
  .how-it-was .how-it-was-article .steps {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: auto;
  }
}

@media (max-width: 480px) {
  .how-it-was {
    .how-it-was-article {
      padding-left: 0;
      padding-right: 0;
      display: block;
      flex-direction: column;

      .float-left, .float-right {
        width: auto !important;
      }
    }
  }
  .steps-title {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 50px;
  }
  .steps-title-h1 {
    font-size: 45px;
  }
  .steps-section {
    margin-bottom: 0px;
  }
  .steps {
    display: flex;
    width: 100% !important;
    flex-direction: column;
    padding-bottom: 75px;
  }
  .step-one, .step-three {
    margin-left: 0px;
    display: flex;

  }
  .icon-right, .icon-left {
    height: fit-content;
  }
  .step-two, .step-four {
    place-self: auto !important;
    display: flex;
    text-align: start !important;
  }
  .step-content-left {
    margin-left: 0 !important;
  }
  .step-right {
    margin: 10px !important;
  }
  .step-left {
    margin: 10px !important;
  }
  .steps-title-h1 {
    margin-left: 0px !important;
  }

}