.how-it-was {
  background-color: #66cfcf;
  color: #ffffff;

  .background-how-it-was {
    height: 570px;
    overflow: hidden;
    background: url("../images/background/help.jpg");
    background-size: cover;
    background-position: 50% 40%;
  }

  .steps-b {
    display: block;
  }


  .how-it-was-article {
    display: flex;
    padding: 105px 45px 60px 60px;

    .steps-title {
      font-family: 'Maven Pro', sans-serif;
      font-weight: 900;
      font-size: 80px;
      width: 45%;

      .steps-title-h1 {
        margin: 45px 0px 40px 0px;
      }

      .steps-title-button {
        height: 70px;
        width: 270px;
        font-size: 18px;
        color: #ffffff;
        margin: 0px 5px;
      }
    }

    .steps {
      width: fit-content;
      height: fit-content;
      margin: auto;
      display: flex;
      flex-direction: column;
      margin-left: 5%;

      .step-one, .step-three {
        display: flex;
        width: 60%;
        align-self: end;

        .icon-left {
          height: fit-content;
        }
      }

      .step-two {
        width: 50%;
        margin-bottom: 25px !important;
        right: 0px;
        place-self: center;
        text-align: end;
        display: flex;
        flex-direction: row-reverse;
      }

      .step-four {
        width: 50%;
        right: 0px;
        place-self: center;
        display: flex;
        flex-direction: row-reverse;

        & img {
          height: fit-content;
        }

        & p {
          text-align: end;
        }
      }

      .step-content-left {
        margin-left: 115px;
      }

      .steps-b {
        font-size: 22px;
      }

      .step-right {
        margin: 10px 0px 0px 10px;
      }

      .step-left {
        display: block;
        width: 100%;
        margin: 10px 15px 0px 0px;
      }

      .right-line {
        width: 45%;
        position: absolute !important;
        left: 75%;
        margin-top: 45px;
      }

      .left-line {
        position: absolute !important;
        width: 50%;
        right: 90%;
        margin-top: 45px;
      }

      .float-left p {
        display: inline-block;
        width: 70%;
      }

      .icon-left, .icon-right {

        margin: 20px 10px;

      }
    }
  }
}

/*@media (min-width: 1224px) and (max-width: 1320px) {
  .how-it-was {
    .how-it-was-article {
      padding: 0px;
      flex-direction: row-reverse;

      .steps-title {
        width: 50%;
        padding: 50px 0px 50px 10px;
        text-align: center;
        font-size: 64px;
        margin: auto;
      }
    }

    .icon-right {
      margin-right: 125px;
    }

    .right-line {
      right: -20% !important;
    }
  }
}*/


@media (min-width: 992px) and (max-width: 1420px) {
  .right-line, .left-line {
    display: none;
  }
  .background-how-it-was {
    display: none;
  }
  .how-it-was-child {
    top: -55px;
  }
  .step-content-left {
    align-self: center !important;
  }
  .steps-title {
    margin: auto;
  }

  .steps {

    position: relative;

    .step-one {
      margin-top: 20px;
    }

    .step-one, .step-two, .step-three, .step-four {
      margin-bottom: 0;
      width: 75% !important;
      align-items: center;
      justify-content: center;
      position: relative;
      text-align: start;

      & img {
        padding: 5px;
        border-radius: 50%;
        border: 5px black;
        position: absolute;
        background: #66cfcf;
        left: 50px;
        width: fit-content;
        transform: translate(-125%, 0%);
      }

      .float-left {
        margin: 0;
      }

      .step-left {
        margin: 0 !important;
      }

      & p {
        display: block !important;
        width: auto !important;
        right: 50%;
        background: #ffffff;
        padding: 35px 50px;
        border-radius: 10px;
        color: #66cfcf;
      }
    }

    .step-two, .step-four {
      place-self: center !important;

      & img {
        bottom: 0;
        top: 0;
        margin: auto !important;
        transform: translate(-115%, 0) !important;
      }

      & p {
        text-align: start !important;
      }
    }

    .step-four {
      margin-bottom: 20px;
    }
  }
  .how-it-was .how-it-was-article .steps .step-two {
    margin-bottom: 0 !important;
  }
  .how-it-was {

    .how-it-was-article {
      display: flex;
      padding: 105px 0px 105px 0px;

      .steps-title {
        display: block;
        width: 100% !important;
        text-align: center !important;
        margin-bottom: 50px;
      }
    }
  }
  .steps-title-h1 {
    font-size: 64px;
    text-align: center;
  }
  .step-left {
    margin-left: 15px;
  }
  .step-one, .step-three {
    width: auto !important;
    margin-left: 0 !important;
  }

  .how-it-was .how-it-was-article .steps {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .step-right, .step-left {
    width: 100% !important;
    margin: 0 !important;
  }
}


@media (min-width: 768px) and (max-width: 992px) {
  .right-line, .left-line {
    display: none;
  }
  .background-how-it-was {
    display: none;
  }
  .how-it-was-child {
    top: -55px;
  }
  .step-content-left {
    align-self: center !important;
  }

  .steps {
    background: #ffffff;
    position: relative;

    .step-one {
      margin-top: 20px;
    }

    .step-one, .step-two, .step-three, .step-four {
      margin-bottom: 0;
      width: 75% !important;
      align-self: center;
      align-items: center;
      justify-content: center;
      position: relative;

      & img {
        padding: 5px;
        border-radius: 50%;
        border: 5px black;
        position: absolute;
        background: #66cfcf;
        left: 50px;
        width: fit-content;
        transform: translate(-125%, 0%);
      }

      .float-left {
        margin: 0;
      }

      .step-left {
        margin: 0 !important;
      }

      & p {
        display: block !important;
        width: auto !important;
        right: 50%;
        background: #66cfcf;
        padding: 35px 50px;
        border-radius: 10px;
      }
    }

    .step-two, .step-four {
      place-self: center !important;

      & img {
        bottom: 0;
        top: 0;
        margin: auto !important;
        transform: translate(-115%, 0) !important;
      }

      & p {
        text-align: start !important;
      }
    }

    .step-four {
      margin-bottom: 20px;
    }
  }
  .how-it-was .how-it-was-article .steps .step-two {
    margin-bottom: 0 !important;
  }
  .how-it-was {
    .how-it-was-article {
      display: block;
      padding: 105px 0px 0px 0px;

      .steps-title {
        display: block;
        width: 100% !important;
        text-align: center !important;
        margin-bottom: 50px;
      }
    }
  }
  .steps-title-h1 {
    font-size: 64px;
    text-align: center;
  }
  .step-left {
    margin-left: 15px;
  }
  .step-one, .step-three {
    width: auto !important;
    margin-left: 0 !important;
  }

  .how-it-was .how-it-was-article .steps {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .step-right, .step-left {
    width: 100% !important;
    margin: 0 !important;
  }
}

@media (max-width: 767px) {
  .background-how-it-was {
    display: none;
  }

  .step-content-left {
    align-self: center !important;
  }

  .steps {
    background: #ffffff;
    position: relative;

    .step-one, .step-two, .step-three, .step-four {
      margin-bottom: 0;
      width: 75% !important;
      align-self: center;
      align-items: center;
      justify-content: center;
      position: relative;

      & img {
        padding: 5px;
        border-radius: 50%;
        border: 5px black;
        position: absolute;
        background: #66cfcf;
        left: 50px;
        width: fit-content;
        transform: translate(-125%, 0%);
      }

      .float-left {
        margin: 0;
      }

      .step-left {
        margin: 0 !important;
      }

      & p {
        display: block !important;
        width: auto !important;
        right: 50%;
        background: #66cfcf;
        padding: 35px 50px;
        border-radius: 10px;
      }
    }

    .step-two, .step-four {
      place-self: center !important;

      & img {
        bottom: 0;
        top: 0;
        margin: auto !important;
        transform: translate(-115%, 0) !important;
      }

      & p {
        text-align: start !important;
      }
    }
  }
  .how-it-was .how-it-was-article .steps .step-two {
    margin-bottom: 0 !important;
  }
  .how-it-was {
    .how-it-was-article {
      display: block;
      padding: 105px 0px 0px 0px;

      .steps-title {
        display: block;
        width: 100% !important;
        text-align: center !important;
        margin-bottom: 50px !important;
      }
    }
  }
  .steps-title-h1 {
    font-size: 64px;
    text-align: center;
  }
  .step-left {
    margin-left: 15px;
  }
  .step-one, .step-three {
    width: auto !important;
    margin-left: 0 !important;
  }

  .how-it-was .how-it-was-article .steps {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .step-right, .step-left {
    width: 100% !important;
    margin: 0 !important;
  }
}

@media (max-width: 480px) {
  .how-it-was {
    .how-it-was-article {
      padding-left: 0;
      padding-right: 0;
      display: block;
      flex-direction: column;

    }

    .steps {
      .step-one, .step-three, .step-two, .step-four {
        margin-top: 45px;

        & img {
          margin: auto !important;
          top: -20px;
          left: 0 !important;
          right: 0;
          transform: none !important;
        }
      }

      .step-two, .step-four {
        & img {
          transform: none;
          left: 0;
          right: 0;
          margin: auto;
          top: -15px !important;
          bottom: auto !important;

        }

        .step-right {
          margin: 0 !important;
        }
      }
    }
  }
  .steps-title {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 50px;
  }
  .steps-title-h1 {
    font-size: 45px;
  }
  .steps-section {
    margin-bottom: 0px !important;
  }
  .steps {
    display: flex;
    width: 100% !important;
    flex-direction: column;
    padding-bottom: 75px;

    .step-one, .step-three {
      margin-left: 0px;
      display: flex;
    }

    .step-two, .step-four {
      display: flex;

      & img {
        transform: none !important;
      }

      & p {
        text-align: start !important;
      }
    }
  }

  .icon-right, .icon-left {
    height: fit-content;
  }


  .step-left, .step-right {
    margin: 10px !important;
  }
  .steps-title-h1, .step-content-left {
    margin-left: 0px !important;
  }
  .steps .step-two img, .steps .step-four img {

  }

}