$chat-color: #eff7f7;
.recall {
  .doctor-image {
    position: relative;
    height: 540px;
    overflow: hidden;
    background: url("../images/background/doctor.jpg");
    background-size: cover;
    background-position: 50% 50%;
  }

  .recall-title {
    font-weight: 900;
    font-size: 36px;
    color: #0b2a37;
    margin: 100px 0px 120px 0px;
  }

  .recall-row {
    margin: 0px 35px 0px 35px;
    grid-gap: 65px;
    place-items: center;
    margin-bottom: 195px;

    .col-1, .col-2, .col-3 {
      width: 410px;
      color: #0b2a37;

    }
  }

  .chat-parent {
    width: 100%;
    background: $chat-color;

    .chat-child-text {
      padding: 30px 15px;
      top: 0;
      margin: 0;
    }
  }

  .chat-parent:after {
    content: '';
    position: absolute;
    right: 0px;
    border: 10px solid transparent;
    border-top: 10px solid $chat-color;
    border-right: 10px solid $chat-color;
  }

  .chat-person {
    display: flex;
    text-align: end;
    margin: 20px 0px;

    .chat-person-section {
      margin: auto 10px;
    }
  }
}

@media screen and (max-width: 1288px) {
  .col-1, .col-2, .col-3 {
    width: 100% !important;
  }
  .recall .recall-row {
    margin: 0px 15px 150px 15px;
  }
  .grid-3-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
  }
  .chat-icon {
    width: inherit;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .recall-row {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 45px !important;
    margin-right: 0;
  }
  .doctor-image {
    height: 350px;
    background-position: 50% 50%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .doctor-image {
    height: 270px !important;
    background-position: 50% 50%;
  }

  .recall-row {
    margin: 0px 35px 90px 35px;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  .recall .col-1, .col-2, .col-3 {
    position: relative;
    width: 100%;
    color: #0b2a37;
  }

  .chat-icon {
    float: right;
    width: 340px;
  }
  .chat-child-text {

    top: 0;
    margin: 10px 13px;
  }

  .chat-text {
    position: absolute;
    top: 0;
    right: 0;
    width: 275px;
    margin: 4px 25px;
  }
}

@media (max-width: 767px) {
  .recall-title {
    margin: 55px 0px;
  }

  .recall-row {
    margin: 0px 35px 90px 35px !important;
    grid-template-columns: 1fr;
  }

  .recall .col-1, .col-2, .col-3 {
    position: relative;
    width: 75% !important;
    color: #0b2a37;
  }
}

@media (max-width: 480px) {
  .recall .col-1, .col-2, .col-3 {
    position: relative;
    width: 90% !important;
    color: #0b2a37;
  }
  .recall-row {
    grid-gap: 0px;
  }
}
